body {
  font-family: "Roboto", sans-serif;
  background-color: #3464eb;
}
/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
  color: #fff;
}
h2,
h4 {
  color: #fff;
}

.my-info {
  padding: 2rem 5rem;
}

.btn-info {
  padding: 1rem 1.2rem;
  background-color: #fff !important;
  color: #000 !important;
  margin-left: 5px;
  padding: 0.75rem;
  transition: all 0.3s;
}
